
.alert {
    border-left: 5px solid transparent;
    border-radius: 0;
    margin-bottom: 30px;
    padding: 15px;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.alert-danger {
    color: #333333;
    background: #fff;
    border-color: #d63f26;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.overlay-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5) url(/images/loader-128.gif) no-repeat center center;
    z-index: 100;
}